* {
    color: #98FB98;
}
body {
  align-items: center;
  justify-content: center;
  background-color: #313632;
}

#codeBlock {
  background-color: #313632;
  border: solid 1px #ccc;
  padding: 2px;
  position: relative;
}

#codeBlock button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #313632;
  color: #98FB98; /* Set the text color to match the rest of your site */
  border: 2px solid black;
  padding: 5px 10px; /* Add some padding to the button */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

