* {
    color: #98FB98;
}
body {
  align-items: center;
  justify-content: center;
  background-color: #313632;
}

#codeBlock {
  background-color: #313632;
  border: solid 1px #ccc;
  padding: 20px;
  position: relative;
}

#codeBlock button {
  position: absolute;
  top: 10px;
  right: 10px;
}

