* {
    box-sizing: border-box;
    color: #98FB98;
}

@media screen and (max-withl 1920pc) {
    body {
      font-size: 20 px;
  }
}

body {
   /* font-size: calc(1em + 1vw);*/
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #313632;
}

#logo {
    font-family: monospace;
    white-space: pre;
}

#flex-container {
    display: flex;
    width: 90%;
    height: 80%;
}

#QR, #squidpute {
    flex: 1; 
}

#QR img, #squidpute img {
    max-width: 100%; 
    max-height: 80vh;
    height: auto;
    outline: 1px dashed #98FB98;
}

#text {
    flex: 2;
    padding: 20px;
    overflow: auto;
    text-align: center;
}

.links {
    outline: 1px solid #98FB98;
}

.links:hover {
    color: #98FB77;
}

