* {
    color: #98FB98;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #313632;
}

#logo {
    font-family: monospace;
    white-space: pre;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Creates 3 columns: empty, text, image */
  width: 80%; /* Adjust as needed */
  height: 80%; /* Adjust as needed */
  margin: auto;
}

#QR {
  grid-column: 1;
}

#QR img {
  width: 100%; /* Adjust this value if needed */
  height: auto; /* This value makes the image maintain its aspect ratio */
  outline: 1px dashed #98FB98;
}

#text {
  grid-column: 2; /* Position text in the second column */
  padding: 20px;
  overflow: auto;
  text-align: center; /* Align text in the center of the box */
}

.links {
  outline: 1px solid #98FB98;
}
.links:hover {
    color: #98FB77;
}

#squidpute {
  grid-column: 3; /* Position image in the third column */
}

#squidpute img {
  width: 100%; /* Adjust this value if needed */
  height: auto; /* This value makes the image maintain its aspect ratio */
  /* outline: 1px dashed #98FB98; */
}

#particle-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
