header
{
    display: flex;
    justify-content: center;
}

footer
{
    display: flex;
    justify-content: center;
}
#game-message
{
    display: none;
}
#win-message
{
    display: none;
}
#loss-message
{
    display: none;
}
#tie-message
{
    display: none;
}

#start-screen {
  text-align: center;
  padding: 50px;
}

#start-btn {
  font-size: 1.2em;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
}

#game-screen {
  text-align: center;
  display: none; /* this lets us hide it at the start, the js changes it */
}


#choices
{
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-direction: row;
}
#CPU
{
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-direction: row;
}
#cpu-rock,
#cpu-paper,
#cpu-scissors {
  display: none;
}


#RESULT
{
    display: flex;
    justify-content: center;
}

.selected {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
}
.winner {
  border: 3px solid rgb(0, 255, 55);
  border-radius: 10px;
}
.loser {
  border: 3px solid rgb(255, 0, 21);
  border-radius: 10px;
}