* {
    color: #98FB98;
}
body {
  align-items: center;
  justify-content: center;
  background-color: #313632;
}

.breadcrumbs ul {
  list-style-type: none;
  padding: 20px;
}

.breadcrumbs li {
  display: inline;
  margin-right: 10px;
}

.breadcrumbs li a {
  color: #007BFF;
  text-decoration: none;
}

.breadcrumbs li a:hover {
  color: #0056b3;
}

.breadcrumbs li.active {
  color: #0056b3;
  font-weight: bold;
}

#myTable {
  width: 100%;
  margin-top: 20px;
}
