* {
    color: #98FB98;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #313632;
}

#canvas {
  position: absolute;
  z-index: -1;
  justify-self: right;
}
