body {
    background-color: #313632;
}

a {
    text-align: center;
    display: block;
}

* {
    color: #98FB98;
}

#squidpute {
    position: static;
    top: 50 px;
    left: 100 px;
}
