body {
    background-color: #313632;
}

a {
    text-align: center;
    display: block;
}

* {
    color: #98FB98;
}

#squidpute {
    position: absolute;
    top: 50px;
    left: 100px;
    width: 248px;
    height: 312px;
    overflow: hidden; /* This will cut off any part of the image that exceeds the specified width and height */
}

#squidpute img {
    width: 15%;
    height: auto;
}
