body {
    background-color: #313632;
}

a {
    text-align: center;
    display: block;
}

* {
    color: #98FB98;
}

#squidpute {
    position: absolute;
    top: 50px;
    left: 100px;
    overflow: hidden;
}

#squidpute img {
    width: 248px;
    height: 312px;
    background-color: #313632;
    margin: 10px;
}
