.code-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  width: fit-content;
  max-width: 500px;
  white-space: nowrap;
  background-color: #eee;
}

.code-container .code {
  white-space: pre-wrap;
  font-family: monospace;
}

.code-container .language-label {
  background-color: #7398BD;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
}
