* {
    color: #98FB98;
}

body {
  /*align-items: center;
  justify-content: center;*/
  background-color: #313632;
}

.breadcrumbs ul {
  list-style-type: none;
  padding: 20px;
}
.code-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  width: fit-content;
  max-width: 500px;
  white-space: nowrap;
  background-color: #313632;
  border: 2px solid black;
}

.code-container .code {
  white-space: pre-wrap;
  font-family: monospace;
}

.code-container .language-label {
  background-color: #313632;
  border: 2px solid black;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
}
